html{
  scroll-behavior: smooth;
}
body {
  display: grid;
  gap: 10px;
  grid-template-columns: 10% 90%;
  grid-template-rows: auto;
  max-width: 96vw;
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
  font-style: italic;
  color: #5c7282;
}
article{
  margin-top: inherit;
}

.hamberger{
  display: none !important;
  position: sticky;
  top:10px;
  right: 10px;
  cursor: pointer;
  width: fit-content;
}

.card,
.badge {
  display: flex;
  flex-direction: row;
  padding: 15px;
  border: 4px solid #6bbad6;
  box-sizing: border-box;
  border-radius: 24px;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  flex: 1 1 auto;
  flex-wrap: wrap;
  align-content: center;
}
.badge {
  flex-direction: column;
}

.hidden {
  transition: all 1s ease-in;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
}
.hidden_nav_icons{
  transition: all 0.3s ease-in;
  opacity: 0;
  filter: blur(5px);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0,0);
}
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

@media screen and (max-width: 900px) {
  .card, .badge {
    width: 90vw;
  }
  .hidden:nth-child(n) {
    transition-delay: 200ms;
  }
}

.card_pt1{
  width: 70%;
}
.card_pt2{
  width: 30%;
}
.card_pt1_profiles{
  width: 100%;
}

.card_pt1_date > p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin: 4px 0;
}

.card_pt1_date > span {
  word-break: break-word;
}

.card_pt1 > p {
  color: #5c7282;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 8px 0;
}
.card_pt1_title h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  margin: 0px;
  color: lightgray;
}
.card_pt1_title > a {
  text-decoration: none;
}
.card_pt1_profiles{
  flex-basis:100%;
  flex-wrap: wrap;
  width: 100%;
}
.card_pt2_percentage,
.card_pt2_percentage_circle,
.card_pt2_percentage_circle_in {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card_pt2_percentage_circle {
  width: 130px;
  height: 130px;
  background-color: #1684f8;
  border-radius: 50%;
}
.card_pt2_percentage_circle_in {
  width: 100px;
  height: 100px;
  background-color: lightskyblue;
  z-index: 1;
  border-radius: 50%;
  color: darkblue;
}
.card_pt2_percentage_circle_in > span {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
}

.card_pt1_profiles {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 120%;
}

.card_pt1_date_visual {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card_pt1_date_visual > span {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}
.card_pt1_guide_checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card_pt1_guide_checkbox > span {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #409dff;
  margin-left: 10px;
}

.projects,
.education {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

.badge > h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  margin: 0px;
}
.badge > span {
  padding: 0;
  font-style: normal;
  color: #5c7282;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin: 8px 0;
}
.badge > p {
  font-size: 25px;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  height: 98vh;
  margin: 0;
  align-items: center;
  justify-content: space-evenly;
  z-index: 1;
}

.navbar > a, .hamberger > a {
  font-size: x-large;
  width: fit-content;
  text-decoration: none;
  color: white;
  word-break: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navbar > a > span, .hamberger > a > span {
  font-size: xxx-large;
  width: fit-content;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 900px) {
  body {
    display: grid;
    gap: 10px;
    grid-template-rows: 3% 97%;
    grid-template-columns: auto;
    max-width: 100vw;
    justify-content: center;
    align-items: self-start;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: 100%;
    height: 85%;
  }
}

@media screen and (max-width: 600px){
  .navbar{
    display: none;
  }
  .navbar_show{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    transform: translate(50%, 0vh);
    position: fixed;
    width: 100vh;
    height: 100vh;
    background-color: #6D8289 ;
    overflow: auto;
    /* scroll-snap-type: y mandatory; */
  }
  .navbar > a{
    position: absolute;
    transition: all 0.5s ease-out;
    margin-left: 10%;
    flex-direction: row;
    /* scroll-snap-align: start; */
  }
  .hamberger{
    display: block !important;
    z-index: 1;
  }
  body{
    grid-template-rows: 1% 0% 99%;
  }
}

@media screen and (max-width:450px){
  .card_pt2_percentage_circle {
    width: 90px;
    height: 90px;
  }
  .card_pt2_percentage_circle_in {
    width: 70px;
    height: 70px;
  }
  .card_pt2_percentage_circle_in > span {
    font-size: 1.5rem;
  }
}